<h1> Links to croquet sites </h1>
<p>
<a href="http://www.croquet.org.uk/" target="_blank"> The Croquet Association </a> (CA) is the national governing body for the sport of Croquet in England.
</p>

<p>
<a href="http://www.southeastcroquet.org.uk/" target="_blank"> The South East Croquet Federation </a>, SECF, is an association of croquet clubs, many but not necessarily all of which are affiliated to the national governing body, The Croquet Association (CA). 
<p>
<p>
It is an independent organisation but works closely with the CA. 
</p>

<p>
The <a href="http://www.thecroquetacademy.com/" target="_blank"> croquet academy </a> (CA) has been created as a centre of excellence for Croquet Tuition in the UK.
</p>

<p>
The <a href="http://cornwall-croquet.org.uk/croquet_glossary.htm" target="_blank"> croquet glossary </a> is a webpage full of croquet termology.